:root {
	--color-1: #ff9f1c;
	--color-2: #f71735;
	--color-3: #7fb069;
	--color-4: #011627;
	--color-5: #fdfffc;
	--color-6: #ffffff;
}

* {
	margin: 0;
}

html,
body {
	color: var(--color-4);
	background-color: var(--color-5);
	height: 100%;
	padding: 0;
	font-family: Verdana, Tahoma, sans-serif;
}

main {
	margin-inline: 1rem;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--color-1);
}
